---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/badge.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Hey, I'm Juan David Calderón 
			<div class="flex justify-center items-center"><Badge>Software_Student</Badge></div> </h1>
		<h2 class="text-xl">Desarollador web y amante a las Matematicas</h2>

         <ul></ul>
	</section>
	</main>
</Layout>